<!DOCTYPE html>
<html>
<head>
    <title>Plant Disease Detector</title>
</head>
<body>

    <h1>Tomato Leaf Disease Detector</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Predict</button>
    </form>

    {% if image_path %}
        <h3>Uploaded Image:</h3>
        <img src="{{ image_path }}" width="300">
    {% endif %}

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}

</body>
</html>